@keyframes jumpImg {
    0% {
      transform: translateY(0);
    }
    10% {
      transform: translateY(-25px);
    }
    20% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(-25px);
    }
    40% {
      transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    60% {
    transform: translateY(0);
    }
    70% {
        transform: translateY(-10px);
    }
    80% {
        transform: translateY(0);
      }
    90% {
      transform: translateY(-5px);
    }
    10% {
        transform: translateY(0);
      }
  }


@keyframes underlineH3{
  0% {
      width: 0;
    }
  50% {
      width: 100%;
    }
  100% {
      width:0;
    }
}

@keyframes moveTemperatureLeft {
  0%{
      margin-left: 60%;
      color: $color-blue;
  }
  100%{left:5%;
  }
}

@keyframes moveTemperatureRight{
  0%{
      margin-right: 60%;
      color: $color-blue;
  }
  100%{right:5%;}
}

@keyframes changeColor{
  0%{ color:#000; }
100%{ color: $color-blue; }
}