@import './color.scss';
@import './keyframes.scss';

// reset
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    width:100%; 
    max-width: 100%;
    font-size: 13px;
    min-height: 100%!important;
    color: #333232!important;
}

//class
.color-blue{
    color: $color-blue;
} 

nav{
    background-image: url("images/banner-climatisation-aimargues-froid-chaud.jpeg");
    height:250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    & a{
        cursor: pointer;
        &:hover{
            background-color: #fff;
            color: $color-blue-dark!important;
            font-weight: 600;
            border-bottom: 3px solid red;
        }
    }
}

main{
   section > div{
        margin-top: -3rem;
        column-gap: 5%;
        .card{
            border-bottom: 3px solid $color-blue;
            &:hover{
                background-color: $color-blue-dark!important;
                color: #fff;
                border-bottom: 3px solid red;
            }
        }
        & img{
            padding: 0.8rem;
        }
    } 

    .text {
        img{
            margin-bottom:2rem;
            margin-top:1rem;
            transition: all 300ms;
            animation: jumpImg 2500ms  ease-in-out;
            animation-delay: 3500ms;
            animation-iteration-count: 3;
        }
        &-clim{
            rotate: -15deg;
        }
    }

    h3{
        display: inline; 
    }

    h3::before{
        content: "";
        position: absolute;
        top:35px;
        left: 5px;
        margin: auto;
        background: $color-blue;
        height: 2px;
        animation: underlineH3 2500ms infinite ease-in-out;
    }

    .carousel{
        height: 10rem!important;
    }

    .temperature{
        row-gap:2rem;
        margin-bottom:8rem;
        p{
        font-weight:700; 
            &:first-of-type{
                top:5rem;
                right:5%;
                animation: moveTemperatureRight 1500ms ease-in-out;
            }
            &:nth-of-type(2){
                top:15rem;
                left:5%;
                animation: moveTemperatureLeft 1500ms ease-in-out;
            }
            &:last-child{
                bottom: -8rem;    
                animation: changeColor 1500ms ease-in-out;
            }
        }
    } 
}

footer{
    background-color: $color-blue;
    h5{
        font-weight: 700;
        ~ img{
            animation: turnLogo 3500ms  ease-in-out;
            animation-delay: 2500ms;
            animation-iteration-count: 2;
            
            
        }
    }

    .formality{
        background-color: $color-blue-dark;
        column-gap:10%;
        & > div a:first-of-type{
            color: #ff04fb;
                &:hover{
                    color: #9000ff!important;
                }
            }                        
        }
        a:hover{
            color: #e9c759!important;
        }
}
   





@media screen and (min-width:769px) {
    main, .footer{
        max-width: 800px;
        margin:auto;
        .text{
            margin-top:4rem;
        }
        font-size: 15px;
    }
    .footer{
        flex-direction: row!important;
        align-items:start!important;
        column-gap:2rem;
    }
}