// reset
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    width:100%; 
    max-width: 100%;
    font-size: 1.2rem;
    min-height: 100%!important;
    color: #333232!important;
}

h1{
    font-size:0.5rem;
    margin: auto;
}