@import './color.scss';

// reset
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    width:100%; 
    max-width: 100%;
    font-size: 11px;
    min-height: 100%!important;
    color: #333232!important;
}

//class
.color-blue{
    color: $color-blue;
} 
    
nav{
    background-image: url("/images/banner-climatisation-aimargues-froid-chaud.jpeg");
    height:250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    & a{
        cursor: pointer;
        &:hover{
            background-color: #fff;
            color: #0f1348!important;
            font-weight: 600;
            
        }
    }
}

.service{
    margin-top: -3rem;
    column-gap: 5%;
}