@keyframes jumpImg {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-25px);
  }
  20% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-25px);
  }
  40% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-5px);
  }
  10% {
    transform: translateY(0);
  }
}
@keyframes appearNavbar {
  0% {
    transform: translateY(-450px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: #27b6c6;
  }
  50% {
    border-color: #18324c;
  }
}
@keyframes underlineH3 {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes moveTemperatureLeft {
  0% {
    margin-left: 60%;
    color: #27b6c6;
  }
  100% {
    left: 5%;
  }
}
@keyframes moveTemperatureRight {
  0% {
    margin-right: 60%;
    color: #27b6c6;
  }
  100% {
    right: 5%;
  }
}
@keyframes changeColor {
  0% {
    color: #000;
  }
  100% {
    color: #27b6c6;
  }
}
@keyframes turnLogo {
  0% {
    transform: rotate(0turn);
  }
  50% {
    transform: rotate(1turn);
  }
  100% {
    transform: rotate(0turn);
  }
}
@keyframes displayTitle {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 100%;
  font-size: 13px;
  min-height: 100% !important;
  color: #333232 !important;
}

.color-blue {
  color: #27b6c6;
}

header h1, header h2 {
  animation: displayTitle 2000ms ease;
}
header .display {
  top: 0;
}
header .nav-animation {
  animation: turnLogo 3000ms ease-in-out;
  animation-delay: 500ms;
}
header nav {
  padding: 0 !important;
  position: fixed !important;
  left: 0;
  right: 0;
  top: -70px;
  height: 70px;
  background-color: #18324c;
  transition: top 1000ms;
  transition-delay: 250ms;
  z-index: 10;
}
header nav .nav-item {
  background-color: #18324c;
}
header nav .navbar-toggler {
  border: none !important;
  position: relative;
}
header nav .navbar-toggler:hover, header nav .navbar-toggler:focus {
  border: none !important;
  color: #fff !important;
  background-color: transparent !important;
  outline: none !important;
  box-shadow: 0 0 0 transparent;
}
header nav .navbar-toggler .line {
  position: absolute;
  right: 1rem;
  top: 0;
  display: block;
  width: 20px;
  height: 2px;
  background: #27b6c6;
  transition: transform 300ms ease-out, opacity 0.1s ease-out;
}
header nav .navbar-toggler .l1 {
  transform: translateY(-10px);
}
header nav .navbar-toggler .l3 {
  transform: translateY(10px);
}
header nav .navbar-toggler .l2 {
  background: #fff;
}
header nav .navbar-toggler.active .l1 {
  transform: translateY(0px) rotate(135deg);
  background: #fff;
}
header nav .navbar-toggler.active .l2 {
  opacity: 0;
}
header nav .navbar-toggler.active .l3 {
  transform: translateY(0px) rotate(-135deg);
}
header nav .navbar-nav a {
  display: inline-block;
}
header nav .navbar-nav a:hover {
  border-bottom: 1px solid #27b6c6;
  color: #fff !important;
}
header .header {
  background-image: url("images/banner-climatisation-aimargues-froid-chaud.jpeg");
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header .header a {
  cursor: pointer;
}
header .header a:hover {
  background-color: #fff;
  color: #18324c !important;
  font-weight: 600;
  border-bottom: 3px solid red;
}

main section > div {
  margin-top: -3rem;
  column-gap: 5%;
}
main section > div .card {
  border-bottom: 3px solid #27b6c6;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out, border-bottom 250ms ease-in-out;
}
main section > div .card:hover {
  background-color: #18324c !important;
  color: #fff;
  border-bottom: 3px solid red;
}
main section > div img {
  padding: 0.8rem;
}
main .sales h3 {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end 10;
  max-width: 480px;
  margin-bottom: 3rem;
  border: 6px ridge #18324c;
  font-size: 0.9rem;
  background-color: rgb(233, 241, 248);
}
main .text img {
  margin-bottom: 2rem;
  margin-top: 1rem;
}
main .text-clim {
  rotate: -15deg;
}
main .jumpImg {
  transition: all 300ms;
  animation: jumpImg 2500ms ease-in-out;
  animation-delay: 500ms;
  animation-iteration-count: 3;
}
main .background {
  background-image: url("images/background-froid-climatisation-air-froid-aimargues.jpeg");
  height: 12rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}
main .background h4 {
  display: inline;
  font-weight: 700;
  margin-left: 10%;
}
main .background h4::before {
  content: "";
  position: absolute;
  top: 40px;
  background: #27b6c6;
  height: 2px;
  animation: underlineH3 2500ms infinite ease-in-out;
}
main .carousel {
  height: 10rem !important;
  max-width: 95%;
}
main .temperature {
  row-gap: 2rem;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 7rem;
}
main .temperature p {
  font-weight: 700;
}
main .temperature p:first-of-type {
  top: 5rem;
  right: 5%;
  animation: moveTemperatureRight 1500ms ease-in-out;
  animation-delay: 3500ms;
  animation-iteration-count: 2;
}
main .temperature p:nth-of-type(2) {
  top: 15rem;
  left: 5%;
  animation: moveTemperatureLeft 1500ms ease-in-out;
  animation-delay: 3500ms;
  animation-iteration-count: 2;
}
main .temperature p:last-child {
  bottom: -8rem;
  animation: changeColor 1500ms ease-in-out;
  animation-delay: 3500ms;
  animation-iteration-count: 5;
}
main .carouselClim {
  overflow: hidden;
}
main .carouselClim .draggable {
  padding: 0 !important;
}
main .carouselClim .draggable .img-card img {
  box-shadow: 4px 4px 5px #5d5c5c;
  border-radius: 5px;
}

footer {
  background-color: #27b6c6;
}
footer h5 {
  font-weight: 700;
}
footer h5 ~ img.turn {
  animation: turnLogo 3500ms ease-in-out;
  animation-delay: 500ms;
  animation-iteration-count: 2;
}
footer .formality {
  background-color: #18324c;
  column-gap: 10%;
}
footer .formality > div a:first-of-type {
  color: #ff04fb;
}
footer .formality > div a:first-of-type:hover {
  color: #9000ff !important;
}
footer a:hover {
  color: #e9c759 !important;
}

.electricity, .plumbery {
  background-color: #ebe9e9;
}
.electricity h1, .plumbery h1 {
  animation: displayTitle 2000ms ease;
  max-width: 1000px;
}
.electricity h1 ~ p, .plumbery h1 ~ p {
  max-width: 1000px;
  margin: auto;
}
.electricity h2, .plumbery h2 {
  color: #18324c;
}
.electricity .gallery, .plumbery .gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px !important;
  justify-content: center;
  max-width: 1250px;
  margin: auto;
}
.electricity .gallery li img, .plumbery .gallery li img {
  padding: 10px 10px 25px 10px;
  background: linear-gradient(rgb(41, 40, 40), rgb(151, 225, 243));
  border: 1px solid rgb(73, 71, 71);
  box-shadow: 0px 2px 15px #333;
  width: 150px;
  height: auto;
  position: relative;
}
.electricity .gallery li img:hover, .plumbery .gallery li img:hover {
  background: linear-gradient(rgb(151, 225, 243), rgb(41, 40, 40));
}

.r10 {
  transform: rotate(-10deg);
  z-index: 3;
}

.r3 {
  transform: rotate(3deg);
  z-index: 5;
}

.r8, .r5 {
  transform: rotate(11deg);
  z-index: 5;
}

.r2 {
  transform: rotate(2deg);
  z-index: 1;
}

.r-2 {
  transform: rotate(-3deg);
  z-index: 5;
}

.r11 {
  transform: rotate(-11deg);
  z-index: 3;
}

.plumbing {
  margin: auto;
  width: 90%;
}
.plumbing h2 {
  max-width: 80%;
  margin: auto;
}

#galleryPlumbing {
  row-gap: 15px;
  column-gap: 15px;
}
#galleryPlumbing img {
  width: 150px;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease-out;
  overflow: hidden;
  box-shadow: 3px 3px 8px #18324c;
}
#galleryPlumbing img:hover {
  filter: brightness(0.5);
  transform: scale(1.15);
}

.displayTitle {
  animation: displayTitle 500ms ease-in-out;
}

@media screen and (min-width: 450px) {
  #galleryPlumbing img {
    width: 130px;
  }
}
@media screen and (min-width: 515px) {
  nav {
    height: 60px !important;
  }
  .gallery li img {
    width: 250px !important;
  }
  #galleryPlumbing {
    max-width: 600px;
    margin: auto;
  }
  .sales h3 {
    font-size: 1.18rem !important;
    max-width: 520px !important;
  }
}
@media screen and (min-width: 769px) {
  .text {
    width: 80%;
    max-width: 1000px !important;
    margin: auto;
    font-size: 1.3rem;
  }
  .footer {
    flex-direction: row !important;
    align-items: start !important;
    column-gap: 2rem;
    max-width: 800px;
    margin: auto;
    font-size: 15px;
  }
  .footer .text {
    margin-top: 4rem;
  }
  .carouselClim .draggable .img-card {
    width: 23rem;
    height: 17rem !important;
  }
  .carouselClim .draggable .img-card img {
    width: 23rem;
    height: 17rem !important;
    object-fit: cover;
  }
  .electricity p {
    font-size: 1.3rem;
  }
  .electricity .gallery li img {
    width: 320px !important;
  }
  .plumbing {
    max-width: 1200px !important;
  }
  .plumbing p {
    max-width: 900px;
    margin: auto;
    font-size: 1.3rem;
  }
  .plumbing #galleryPlumbing {
    max-width: 1200px;
  }
  .plumbing #galleryPlumbing img {
    width: 200px;
  }
}
@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: end;
  }
}
@media screen and (min-width: 1000px) {
  .plumbing img {
    width: 280px !important;
  }
}
@media screen and (min-width: 1300px) {
  .plumbing img {
    width: 320px !important;
  }
}

/*# sourceMappingURL=style.css.map */
